body{ 
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    /* font size, font height, and font primary, secondary etc */
    padding:0;
    margin:0;
    background-color:#f4f4f4
} 



/* Global */
.container{  /* class */
    width:80%;  /* setting it to a percentage instead of pixels so that it is responsive */
    margin:auto; /*auto centers content */
    overflow:hidden; /* if things over flow out of a div don't show a scroll bar and hide content */
    /* display:flex; */
}

ul{
    margin:0; /* remove margin so it sits on the bottom of header */
    padding:0; /* removes the padding for same as above? */
}

.button_1{
    height:37px;
    background:#e8491d;
    border:0; /*buttons have borders around them, this removes it*/
    padding-left: 20px; /*adds padding to left and right of subscribe text*/
    padding-right:20px;
    color:#ffffff;
}

.dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

/* Header */
header{
    background:#35424a;  /* background color */
    color:#ffffff;  /*text colour*/
    padding-top:30px;
    min-height: 70px; /*responsive on smaller screen*/
    border-bottom:#e8491d 3px solid; /* that bottom border for the head */
}

header a{
    color:#ffffff;
    text-decoration:none; /*removes the underline from the links*/
    text-transform: uppercase;
    font-size:16px;
}

header li{
    
    display:inline; /*makes display only take up character space instead of block */
    padding: 0 20px 0 20px; /* top, right, bottom, left */
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top: 10px;
}

header .highlight, header .current a{  /*so this gives a orange highlight to the first half of the branding*/
    color: #e8491d;              /* also applied the colour to the curent header class*/                   
    font-weight: bold;

}

header a:hover{   /*styles the header links so they turn grey and bold when hovered over*/
    color:#cccccc;
    font-weight:bold;
}

/*showcase */

#showcase{
    min-height: 400px;  /*you define one parameter so that it is responsive */
    /* min-width: 400px; */
    background:url('../img/showcase.jpg') no-repeat 0 -400px; /* url, image: no-repeat, move picture by x and y axis */
    text-align:center;
    color:#ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}


/* Newsletter */

#newsletter{
    padding:15px;
    background:#35424a;
    color:#ffffff;
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
}


/* Boxes */
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left; /* float is used for positioning and formatting content*/
    text-align: center;  /*e.g left,right,none,inherit, left-floats to left of container*/
    width:30%;
    padding:10px;
    /*maybe use flexbox to replace this*/
}

#boxes .box img{
    width:90px; /* readjust box images */
}


/* sidebar */
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar textarea{
    width:90%;    /*set width of the input forms of side bar for quote and textarea*/
    padding:5px;
}

/* main-col */
article#main-col{
    float:left;
    width:65%;
}


/* Services */
ul#services li{
    /* list-style: none; */
     padding:20px;
     border: #cccccc solid 1px;
     margin-bottom:5px;
     background:#e6e6e6;
}

footer{
    padding:20px;
    margrin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
}

